body
{
    font-family: Roboto;
    margin: 0;
    display:flex;
    flex-direction: column;
}

ul
{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 25px;
}

a
{
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #E5E7EB;
}

.introduction
{
    height: 360px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    padding: 10px 200px;
}

.header
{
    display: flex;
    justify-content: space-between;
    margin: 10;
}

.information
{
    height: 288px;
    display: flex;
}

.info-boxes
{
    display: flex;
}

.quote-area
{
    height: 288px;
    background-color: #E5E7EB;
    display: flex;
}

.sign-up-area
{
    height: 216px;
    display: flex;
}

.footer
{
    height: 72px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}