body
{
    font-family: Roboto;
    margin: 0;
    display:flex;
    flex-direction: column;
}

ul
{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 25px;
}

a
{
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #E5E7EB;
}

p
{
    margin: 0;
    padding: 0;
}

.flex-vertical
{
    display: flex;
    flex-direction: column;
}

.flex-horizontal
{
    display: flex;
}

.introduction
{
    height: 360px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    padding: 10px 200px;
}

.header
{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.header-info
{
    display: flex;
    margin: 100px 0px;
}

.left-header-info
{
    display: flex;
    flex-direction: column;
}

.box
{
    width: 500px;
    height: 200px;
    background-color: #E5E7EB;
}

.information
{
    height: 288px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    align-items: center;
    padding: 20px 0px;
}

.info-box-container
{
    width: 150px;
    height: 200px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.extra-container
{
    gap: 50px;
}

.info-box
{
    display: flex;
    height: 150px;
    width: 150px;
    flex: none;
    border: 5px solid #3882F6;
    border-radius: 10%;
}

.quote-area
{
    height: 388px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text
{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    width: 780px;
}

.quote-author
{
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;
    width: 780px;
    display: flex;
    justify-content: flex-end;
}

.sign-up-area
{
    height: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box
{
    color: white;
    background-color: #3882F6;
    width: 900px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.footer
{
    height: 72px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}