body
{
    font-family: Roboto;
    margin: 0;
    display:flex;
    flex-direction: column;
}

ul
{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 25px;
}

a
{
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #E5E7EB;
}

p
{
    margin: 0;
    padding: 0;
}

.introduction
{
    height: 360px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    padding: 10px 200px;
}

.header
{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.header-info
{
    display: flex;
    margin: 100px 0px;
}

.left-header-info
{
    display: flex;
    flex-direction: column;
}

.box
{
    width: 500px;
    height: 200px;
    background-color: #E5E7EB;
}

.information
{
    height: 288px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.info-box-container
{
    font-size: 18px;
    font-weight: normal;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.info-box
{
    width: 50px;
    height: 50x;
    border: 10px solid blue;
}

.quote-area
{
    height: 288px;
    background-color: #E5E7EB;
    display: flex;
}

.sign-up-area
{
    height: 216px;
    display: flex;
}

.footer
{
    height: 72px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}