body
{
    display:flex;
    flex-direction: column;
}

.introduction
{
    background-color: #1F2937;
    color: #F9FAF8;
    display:flex;
}

.header
{
    display: flex;
}

.information
{
    display: flex;
}

.info-boxes
{
    display: flex;
}

.quote-area
{
    background-color: #E5E7EB;
    display: flex;
}

.sign-up-area
{
    display: flex;
}

.footer
{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}